*.dep
*.o
*.pbi
*.pbi.xcl
*.cout
*.hex
*.bin
*.pbd
*.browse
*.out
*.dbgdt
*.bat
*.crun
*.dni
*.jlink
*.wsdt
*.wspos
*.sim
*.TMP
*.map
*.linf
*.xcl
*.pbd.linf
*.linf
*.xcl
*.dnx
*.Zip
*.SchDocPreview
*.PcbDocPreview
*.LOG
PCB/Project Outputs for UART_Logger/UART_Logger.apr
PCB/Project Outputs for UART_Logger/UART_Logger.TXT
PCB/Project Outputs for UART_Logger/UART_Logger.RUL
PCB/Project Outputs for UART_Logger/UART_Logger.REP
PCB/Project Outputs for UART_Logger/UART_Logger.LDP
PCB/Project Outputs for UART_Logger/UART_Logger.GTS
PCB/Project Outputs for UART_Logger/UART_Logger.GTP
PCB/Project Outputs for UART_Logger/UART_Logger.GTO
PCB/Project Outputs for UART_Logger/UART_Logger.GTL
PCB/Project Outputs for UART_Logger/UART_Logger.GKO
PCB/Project Outputs for UART_Logger/UART_Logger.GBS
PCB/Project Outputs for UART_Logger/UART_Logger.GBP
PCB/Project Outputs for UART_Logger/UART_Logger.GBO
PCB/Project Outputs for UART_Logger/UART_Logger.GBL
PCB/Project Outputs for UART_Logger/UART_Logger.EXTREP
PCB/Project Outputs for UART_Logger/UART_Logger.DRR
PCB/Project Outputs for UART_Logger/UART_Logger-macro.APR_LIB
PCB/Project Outputs for UART_Logger/Status Report.Txt
