*.dep
*.o
*.pbi
*.pbi.xcl
*.cout
*.hex
*.bin
*.pbd
*.browse
*.out
*.dbgdt
*.bat
*.crun
*.dni
*.jlink
*.wsdt
*.wspos
*.sim
*.TMP
*.map
*.linf
*.xcl
*.pbd.linf
*.linf
*.xcl
*.dnx
*.Zip
*.SchDocPreview
*.PcbDocPreview
*.LOG